[submodule "cook'in_stock"]
	path = cook'in_stock
	url = https://yohannhoury.ide.3wa.io/sites/DEVELOPPEMENT/PHP/Symphony/yohann-houry-3WAMiam/cook'in_stock
[submodule "cookin_stock"]
	path = cookin_stock
	url = https://yohannhoury.ide.3wa.io/sites/DEVELOPPEMENT/PHP/Symphony/yohann-houry-3WAMiam/cookin_stock
